
@{
    ViewBag.Title = "ActivacionCuenta";
    Layout = "~/Views/Shared/_LayoutGrid.cshtml";
}

<html>
<head>
    <link href="~/Content/Activacion/Activacion.css" rel="stylesheet" />
</head>
<body>
    <div class="alert alert-success _activacion" role="alert">
        <h3>@ViewBag.Mensaje</h3>
        <br />
        <h4>Puedes ingresar a la plataforma</h4>
    </div>
</body>
</html>