
@{
    ViewBag.Title = "NotFound";
    Layout = "~/Views/Shared/_LayoutGrid.cshtml";
}

<head>
    <link href="~/Content/NotFound.css" rel="stylesheet" />
</head>

<body>
    <div class="_notfound">
        <img class="_imagen-notfound" src="~/Imagenes/zona.png" />

        <h2>Estás navegando por áreas no exploradas</h2>
        <h3>Trabajamos en ello</h3>
    </div>
</body>

<footer>

</footer>    
