
@{
    ViewBag.Title = "Usuario";
    Layout = "~/Views/Shared/_LayoutIDA.cshtml";
}

@*<h4>Usuario</h4>*@

<head>
    <link href="~/Content/Usuario/Usuario.css" rel="stylesheet" />
    <script src="~/Scripts/Usuario/Usuario.js"></script>
</head>

<body>

    <div ng-app="MyApp" ng-controller="MyController">

        @*BUSCAR USUARIO*@
        <div class="accordion" id="accordionExampleUno" ng-show="EsSistema">
            <div class="card">
                <div class="card-header" id="headingUno">
                    <h2 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseUno" aria-expanded="true" aria-controls="collapseUno">
                            <i class="fa fa-user-alt fa-lg"></i> Busqueda Usuarios
                        </button>
                    </h2>
                </div>

                <div id="collapseUno" class="collapse show" aria-labelledby="headingUno" data-parent="#accordionExampleUno">

                    <div id="BuscarUsuario" class="container">
                        <div class="row justify-content-md-center">

                            <form role="form" name="formulario" id="formulario" class="">

                                <br />

                                <div class="form-group input-group">
                                    <label class="control-label width-control" for="claveCampania">Login:</label>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <div class="input-group-append">
                                        <input type="text" class="form-control" id="login" placeholder="Login" name="login"
                                               ng-model="LoginUsuario" required>
                                    </div>
                                </div>

                                <div class="form-group input-group">
                                    <label class="control-label width-control" for="campania">Nombre:</label>
                                    &nbsp;&nbsp;
                                    <div class="input-group-append">
                                        <input type="text" class="form-control" id="nombre" placeholder="Nombre" name="nombre"
                                               ng-model="NombreUsuario" required>
                                    </div>
                                </div>                               

                                <div class="form-group input-group">
                                    <label class="control-label width-control" for="alcance">Rol:</label>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <div class="input-group-append">
                                        <select class="form-control" id="rolUsuario" ng-model="RolUsuario" ng-options="data as data.Rol for data in ListCatRol track by data.Id" required>
                                            <option value="">-- SELECCIONE --</option>
                                        </select>
                                    </div>
                                    &nbsp;&nbsp;&nbsp;&nbsp;
                                    <div class="input-group-append">
                                        <button type="button" class="btn btn-primary" title="Buscar Usuario" ng-click="BuscarUsuario(LoginUsuario, NombreUsuario, RolUsuario)">
                                            <i class="fa fa-search fa-lg" aria-hidden="true"></i> Buscar
                                        </button>
                                    </div>
                                </div>

                                <button type="button" class="btn btn-primary botonAgregar" title="Agregar Usuario" data-toggle="modal" data-target="#myModalAdd" ng-click="MostrarAgregarUsuario()">
                                    <i class="fa fa-plus-square fa-lg" aria-hidden="true"></i> Agregar
                                </button>

                                <br />
                                <br />

                            </form>

                        </div>
                    </div>

                </div>
            </div>
        </div>

        <br />

        @*INFORMACION USUARIO*@
        <div class="accordion" id="accordionExampleDos">
            <div class="card">
                <div class="card-header" id="headingDos">
                    <h2 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseDos" aria-expanded="true" aria-controls="collapseDos">
                            <i class="fa fa-user-cog fa-lg"></i> Usuarios
                        </button>
                    </h2>
                </div>

                <div id="collapseDos" class="collapse show" aria-labelledby="headingUno" data-parent="#accordionExampleDos">

                    <br />

                    <div class="_table-usuario">
                        <table class="table">
                            <thead class="thead-light">
                                <tr>
                                    <th>Nombre</th>
                                    <th>Usuario</th>
                                    <th>Rol</th>
                                    <th>Estatus</th>
                                    <th>Suscribirme</th>
                                    <th>Fecha de pago</th>
                                    <th>Editar</th>
                                    <th ng-show="EsSistema">Activar</th>
                                    <th ng-show="EsSistema">Inactivar</th>
                                </tr>
                            </thead>
                            <tbody ng-show="ListUsuario.length">
                                <tr ng-repeat="d in ListUsuario">
                                    <td>{{d.Nombre}}</td>
                                    <td>{{d.Login}}</td>
                                    <td>{{d.Rol}}</td>
                                    <td>{{d.StrEstatus}}</td>
                                    <td>
                                        <button type="button" class="btn btn-light" style="padding:0px;" onclick="location.href='@Url.Action("SendPayReMensual", "Pagos", new { rol=3, estatusp=1})'">
                                            <img class="img-fluid" style="height: 38px;" src="~/Imagenes/paypal.png" />
                                        </button>
                                    </td>

                                    <td>{{d.Creado}}</td>
                                    <td>
                                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModalAdd" ng-click="MostrarEditarUsuario(d)">
                                            <i class="fa fa-edit fa-lg" aria-hidden="true"></i>
                                        </button>
                                    </td>

                                    <td ng-show="EsSistema">
                                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModalDelete" ng-click="MostrarActivarUsuario(d)" ng-disabled="d.Estatus">
                                            <i class="fa fa-check-circle fa-lg" aria-hidden="true"></i>
                                        </button>
                                    </td>
                                    <td ng-show="EsSistema">
                                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModalDelete" ng-click="MostrarInactivarUsuario(d)" ng-disabled="!d.Estatus">
                                            <i class="fa fa-times-circle fa-lg" aria-hidden="true"></i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <img class="_right" src="~/Imagenes/flecha-derecha.png" />

                </div>
            </div>
        </div>

        <br />

        @*INFORMACION AGREGAR USUARIO*@
        <div class="modal fade" id="myModalAdd" tabindex="-1" role="document" data-keyboard="false" data-backdrop="static">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">

                    @*Encabezado Modal*@
                    <div class="modal-header">

                        <div class="navbar-header navbar-header-modal row">
                            <h5 id="modalTitle" class="modal-title">{{TituloAgregarEditar}}</h5>
                        </div>

                        <button type="button" class="close d-none" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>

                    </div>

                    @*Cuerpo Modal*@
                    <div class="modal-body row justify-content-md-center">
                        @*Formulario*@
                        <form class="form-horizontal">

                            <div class="form-group input-group">
                                <label class="control-label width-control" for="claveCampania">Nombre:</label>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <div class="input-group-append">
                                    <input type="text" class="form-control" id="nombreAdd" placeholder="Nombre" name="nombreAdd"
                                           ng-model="UsuarioAgregar.Nombre" ng-disabled="EsEditar" required>
                                </div>
                            </div>

                            <div class="form-group input-group">
                                <label class="control-label width-control" for="claveCampania">Usuario:</label>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <div class="input-group-append">
                                    <input type="text" class="form-control" id="usuarioAdd" placeholder="Usuario" name="usuarioAdd"
                                           ng-model="UsuarioAgregar.Login" ng-disabled="EsEditar" required>
                                </div>
                            </div>

                            <div class="form-group input-group" ng-show="EsSistema && EsEditar">
                                <label class="control-label width-control" for="claveCampania">Password Visible:</label>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <div class="input-group-append">
                                    <input type="text" class="form-control" id="passwordAddVisible" placeholder="Password" name="passwordAdd"
                                           ng-model="UsuarioAgregar.PasswordVisible" required>
                                </div>
                            </div>

                            <div class="form-group input-group">
                                <label class="control-label width-control" for="claveCampania">Password:</label>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <div class="input-group-append">
                                    <input type="password" class="form-control" id="passwordAdd" placeholder="Password" name="passwordAdd" data-toggle="password"
                                           ng-model="UsuarioAgregar.Password" required>
                                </div>
                            </div>

                            <div class="form-group input-group">
                                <label class="control-label width-control" for="claveCampania">Confirmar Password:</label>
                                &nbsp;&nbsp;
                                <div class="input-group-append">
                                    <input type="password" class="form-control" id="confirmarPasswordAdd" placeholder="Confirmar Password" name="confirmarPasswordAdd"
                                           ng-model="UsuarioAgregar.ConfirmarPassword" required>
                                </div>
                            </div>

                            <div class="form-group input-group">
                                <label class="control-label width-control" for="claveCampania">Rol:</label>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <div class="input-group-append">
                                    <select class="form-control" id="rolUsuarioMod" ng-disabled="!EsSistema" ng-model="RolAgregar" ng-options="data as data.Rol for data in ListCatRol track by data.Id" required>
                                        @*<option value="">-- SELECCIONE --</option>*@
                                    </select>
                                </div>
                            </div>

                        </form>

                    </div>

                    @*Pie Modal*@
                    <div class="modal-footer div-centrar">

                        <div id="divSave" ng-show="EsGuardar">
                            <div class="form-group row">
                                <div class="col-md-6 div-centrar">
                                    <button id="cancelarModal" type="button" class="btn btn-primary" ng-disabled="ValidarAgregarUsuario(UsuarioAgregar, RolAgregar)" data-dismiss="modal" ng-click="AgregarUsuario(UsuarioAgregar, RolAgregar)">
                                        <i class="fa fa-save fa-lg" aria-hidden="true"></i> Guardar
                                    </button>
                                </div>
                                <div class="col-md-6 div-centrar">
                                    <button id="cancelarModal" type="button" class="btn btn-secondary" data-dismiss="modal" ng-click="">
                                        <i class="fa fa-arrow-left fa-lg" aria-hidden="true"></i> Cancelar
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div id="divSave" ng-show="EsEditar">
                            <div class="form-group row">
                                <div class="col-md-6 div-centrar">
                                    <button id="cancelarModal" type="button" class="btn btn-primary" ng-disabled="ValidarAgregarUsuario(UsuarioAgregar, RolAgregar)" data-dismiss="modal" ng-click="EditarUsuario(UsuarioAgregar, RolAgregar)">
                                        <i class="fa fa-save fa-lg" aria-hidden="true"></i> Guardar
                                    </button>
                                </div>
                                <div class="col-md-6 div-centrar">
                                    <button id="cancelarModal" type="button" class="btn btn-secondary" data-dismiss="modal" ng-click="">
                                        <i class="fa fa-arrow-left fa-lg" aria-hidden="true"></i> Cancelar
                                    </button>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
        
        <br />

        @*MODAL ALERTA ELIMINAR USUARIO*@
        <div class="modal fade" id="myModalDelete" tabindex="-1" role="document" data-keyboard="false" data-backdrop="static">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    @*Encabezado Modal*@
                    <div class="modal-header">
                        <div class="navbar-header navbar-header-modal row">
                            <h5 id="modalTitle" class="modal-title">{{TituloActivarInactivar}}</h5>
                        </div>

                        <button type="button" class="close d-none" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    @*Cuerpo Modal*@
                    <div class="modal-body">
                        @*Formulario*@
                        <form class="form-horizontal">
                            <input type="hidden" id="id_indicador" />

                            <div class="div-centrar alert alert-warning form-group input-group">
                                <i class="fa fa-exclamation-triangle fa-warning" aria-hidden="true" style="width:100px"></i>
                                <h5 class="input-group-append">{{MensajeActivarInactivar}}</h5>
                            </div>

                        </form>
                    </div>

                    @*Pie Modal*@
                    <div class="modal-footer div-centrar" ng-show="EsActivar">
                        <div id="divSave">
                            <div class="form-group row">
                                <div class="col-md-6 div-centrar">
                                    <button id="saveModal" type="button" class="btn btn-primary" data-dismiss="modal" ng-click="ActivarUsuario(UsuarioActivarInactivar)">
                                        <i class="fa fa-save fa-lg" aria-hidden="true"></i> Activar
                                    </button>
                                </div>
                                <div class="col-md-6 div-centrar">
                                    <button id="cancelarModal" type="button" class="btn btn-secondary" data-dismiss="modal" ng-click="">
                                        <i class="fa fa-arrow-left fa-lg" aria-hidden="true"></i> Cancelar
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer div-centrar" ng-show="!EsActivar">
                        <div id="divSave">
                            <div class="form-group row">
                                <div class="col-md-6 div-centrar">
                                    <button id="saveModal" type="button" class="btn btn-primary" data-dismiss="modal" ng-click="InactivarUsuario(UsuarioActivarInactivar)">
                                        <i class="fa fa-save fa-lg" aria-hidden="true"></i> Inactivar
                                    </button>
                                </div>
                                <div class="col-md-6 div-centrar">
                                    <button id="cancelarModal" type="button" class="btn btn-secondary" data-dismiss="modal" ng-click="">
                                        <i class="fa fa-arrow-left fa-lg" aria-hidden="true"></i> Cancelar
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>

</body>